<div class="currency-value input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-light dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()">
      {{valueCurrency}} $
    </button>
    <div class="dropdown-menu" [ngClass]="{'show': show}">
      <button class="dropdown-item"
              *ngFor="let currency of currencies"
              (click)="changeCurrency(currency)">
        {{currency}}
      </button>
    </div>
  </div>
  <input #numberInput type="text" class="form-control"
         [id]="id"
         [value]="valueNumber"
         (blur)="propagateTouched()"
         aria-label="Text input with dropdown button"/>
</div>
