@import "~styles/variables";

.currency-value {
  .btn-light {
    border-color: $gray-100;
  }

  .dropdown-menu {
    background-color: #ececec;
    border-radius: 0px;
    border: none;
    margin: 0;
  }

  .dropdown-menu-right {
    right: 0;
    left: auto;
  }

  .fa-chevron-down {
    font-size: 14px;
    color: darken($gray-600, 20%);
    position: relative;
    top: -3px;
    margin-left: 5px;
  }
}
